.button{
    margin-top: 1%;
    margin-left: 5%;
    background-color: rgb(115, 14, 124);
    color: white;
    font-size: 1.2rem;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}